<div class="modal-overlay active">
    <div class="modal active">
        <div class="create-user-model full-size popup">
            <form [formGroup]="userRegistration" (ngSubmit)="onSubmit()">
                <div class="registration-from-container">
                    <div class="form-row">
                        <label class="form-label mb-5">User Name</label>
                        <input type="text" class="form-input"
                            [ngClass]="{ 'is-invalid': submitted && f['userName'].errors}" formControlName="userName"
                            [(ngModel)]="userData.userName" placeholder="Enter User Name">
                        <div *ngIf="submitted && f['userName'].errors" class="invalid-feedback">
                            <div *ngIf="f['userName'].errors['required']">User Name is required</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="form-label mb-5">Gender</label>
                        <select formControlName="gender" class="form-input"
                            [ngClass]="{ 'is-invalid': submitted && f['gender'].errors}" [(ngModel)]="userData.gender">
                            <option value="">select gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                        <div *ngIf="submitted && f['gender'].errors" class="invalid-feedback">
                            <div *ngIf="f['gender'].errors['required']">Gender is required</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="form-label mb-5">Date of birth</label>
                        <input type="date" class="form-input" formControlName="dateOfBirth"
                            [ngClass]="{ 'is-invalid': submitted && f['dateOfBirth'].errors}"
                            [(ngModel)]="userData.dateOfBirth" (input)="isCheckAdultAge()">
                        <div *ngIf="submitted && f['dateOfBirth'].errors" class="invalid-feedback">
                            <div *ngIf="f['dateOfBirth'].errors['required']">Date of birth is required</div>
                        </div>
                        <div *ngIf="submitted && !f['dateOfBirth'].errors && customValidation['dob']"
                            class="invalid-feedback">
                            <div *ngIf="customValidation['dob']">{{customValidation['dob']}}</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="kx-terms-conditions">
                            <input type="checkbox" class="form-input" formControlName="termsConditions"
                                [ngClass]="{ 'is-invalid': submitted && f['termsConditions'].errors}">
                            <label>I have read and agree to the Terms</label>
                        </div>
                        <div *ngIf="submitted && f['termsConditions'].errors" class="invalid-feedback">
                            <div *ngIf="f['termsConditions'].errors['required']">Accept Terms is required</div>
                        </div>
                    </div>
                </div>
                <div class="register-button center-align">
                    <button class="btn-custom">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>